<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Lista ofert</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<section layout:fragment="content">

    CAR MANUFACTURERS:
    <p th:each="cm : ${carManufacturers}" th:text="${cm.name}"></p>
    BODYSTYLES:
    <p th:each="bs : ${bodyStyles}" th:text="${bs.name}"></p>
    FUEL TYPES:
    <p th:each="ft : ${fuelTypes}" th:text="${ft.name}"></p>
    CAR MODELS:
    <p th:each="cm : ${carModels}" th:text="${cm.name}"></p>



</section>
</body>
</html>